<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<title>Login</title>
</head>

<body>
<h1> Please Login to continue </h1>
<form action="check_username.php" method="post">
<input type="text" name="username" placeholder="UserName" />
<br> <input type="text" name="password" placeholder="Password" />
<br> <input type="submit" value="Login">
</form>
<br><br>
 <footer>
    <p>&copy; 2013 Jim Hatton || Full Sail University || BDF1312</p> 
    </footer>
</body>
</html>